@charset "UTF-8";

/* ---------- Global ---------- */
@import url('base.css');
@import url('layout.css');

/* ---------- Page Specific ---------- */
@import url('index.css');
@import url('user.css');
@import url('restaurant.css');
@import url('board.css');
@import url('admin.css');
@import url('error.css');
@import url('menu.css');
@import url('recommend.css');


/* ------------------------------
   전체 공통
------------------------------ */
body { font-family: 'Noto Sans KR', sans-serif; margin: 0; padding: 0; background-color: #f5f6f7; color: #1e2a38; }
a { text-decoration: none; color: inherit; }