<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FoodieHub 메인</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script defer th:src="@{/js/index.js}"></script>
</head>
<body>

    <!-- 공통 헤더 -->
    <div th:replace="layout/header :: header"></div>

    <!-- 메인 콘텐츠 -->
    <main class="main-container">
        <section class="hero-section">
            <h1 class="main-title">FoodieHub — 당신 주변의 맛집을 찾아보세요!</h1>
            <form id="searchForm" action="/restaurant/list" method="get">
                <input type="text" id="keyword" name="keyword" class="search-input" placeholder="맛집 이름 또는 지역을 검색하세요"/>
                <button type="submit" class="btn">검색</button>
            </form>
        </section>
    </main>

    
    <!-- 공통 푸터 -->
    <div th:replace="layout/footer :: footer"></div>

</body>
</html>